:local .dropDown {
  position: relative;
  width: 100%;
}

:local .addToList {
  font-size: 2.2vmin;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: grey;
  display: flex;
  justify-content: space-between;
}

:local .addButton {
  display: inline-block;
  background: linear-gradient(white, rgb(228, 228, 228));
  border-style: none;
  width: 90%;
  height: 5vmin;
  text-align: left;
}

:local .arrowButton {
  border-left: 1px solid black;
  display: inline-block;
  background: linear-gradient(white, rgb(228, 228, 228));
  object-fit: cover;
  width: 10%;
  height: 5vmin;
  text-align: center;
}

:local .dropDownContent {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  background: white;
  position: absolute;
  width: 100%;
}

:local .dropDownContent > li {
  display: inline-block;
  padding: 1vmin;
  list-style-type: none;
  width: 100%;
}

:local .listIcon {
  height: 3vmin;
  width: auto;
  object-fit: cover;
}

:local .dropDownContent > li:hover { 
  width: 93%;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(228, 228, 228);
}