:local .container {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
  display: block;
  padding: 7%;
}

:local .miniSpacing {
  margin-bottom: 3vmin;
}

:local .mediumSpacing {
  margin-bottom: 2.5vmin;
}

