:local .miniSpacing {
  margin-bottom: 1.5vmin;
}

:local .iconPrime {
  height: 2.75vmin;
  width: 7.5vmin;
  vertical-align: bottom;
}


:local .price {
  color: #B12704;
  font-size: 2.2vmin;
}

:local .details {
  display: block;
  color: #0066c0;
}

:local .inStock {
  color: #008a00;
  font-size: 2.5vmin;
}