:local .modal {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

:local .modalMain {
  border-radius: 4px;
  padding: 13px;
  z-index: 2;
  position:fixed;
  background: white;
  width: 60%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

:local .display {
  display: block;
}

:local .displayNone {
  display: none;
}

:local .modalMain > header {
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

:local .modalMain > header > button {
  border-radius: 4px;
}

:local .miniSpacing {
  margin-bottom: 10px;
}

:local .protectionInfo {
  display: linear;
  width: 65%;
}

:local .body {
  display: flex;
}

:local .buttons {
  display: linear;
  /* border-style: solid;
  border-width: 1px;
  border-radius: 4px; */
  width: 30%;
}

:local .buttons > div > input {
  color: black;
  display: block;
  height: 30px;
  width: 100%;
  border-radius: 4px;
  border-color: grey;
}

:local .addButton {
  background: linear-gradient(#f4e7c3, #eeb219);
  margin: 10px 10px;
}

:local .noThanksButton {
  background: linear-gradient(white, rgb(228, 228, 228));
  margin: 0px 10px 10px;
}