:local .protection {
  display: inline-block;
}

:local .protection > input {
  margin: 1.5vmin;
}

:local .protectionPlan {
  color: #0066c0;
}

:local .price {
  color:#B12704;
}

:local .checkBox {
  height: 2vmin;
  width: 2vmin;
}