:local .purchase {
  text-align: center;
  font-size: 2vmin;
  color: #bdbdbd;
}

:local .purchase > button {
  padding: 1px;
  color: black;
  display: block;
  height: 5vmin;
  width: 100%;
  border-radius: 4px;
  border-color: grey;
  line-height: 4.5vmin;
}

:local .addToCart {
  background: linear-gradient(#f4e7c3, #eeb219);
}

:local .oneClick {
  background:linear-gradient(#f4e7c3, #fa8c16);
}

:local .miniSpacing {
  margin-bottom: 2vmin;
}