:local .modal {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

:local .modalMain {
  border-radius: 4px;
  padding: 3vmin;
  z-index: 2;
  position:fixed;
  background: white;
  width: 70%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

:local .display {
  display: inline-block;
}

:local .displayNone {
  display: none;
}

:local .modalMain > header {
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

:local .modalMain > header > button {
  border-radius: 4px;
}

:local .flex {
  display: flex;
  justify-content: flex-start;
}

:local .thumbnail {
  width: 10vmin;
  height: 10vmin;
  object-fit: cover;
}

:local .thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:local .shareDescription {
  margin-left: 2vmin;
}

:local .textArea {
  display: flex;
  justify-content: space-between; 
}

:local .textArea > span {
  color: #0066C0;
}

:local .textMain > textarea {
  width: 99%;
  padding-top: 7%;
  border-radius: 4px;
  border-color: lightgray;
  border-width: 1px;
}

:local .iconMain {
  width: 10vmin;
  display: flex;
  justify-content: space-between;
}

:local .icon {
  background: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_2x-01a49470266a51f632dab1aef2fc09112d280c1e._V2_.png);
  background-size: 400px 900px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
}

:local .iconFacebook {
  width: 17px;
  height: 17px;
  background-position: -36px -168px;
  position: relative;
  top: 1px;
}

:local .iconTwitter {
  width: 18px;
  height: 17px;
  background-position: -57px -168px;
  position: relative;
  top: 1px;
}

:local .iconPinterest {
  width: 17px;
  height: 17px;
  background-position: -78px -168px;
  position: relative;
  top: 1px;
}

:local .miniSpacing {
  margin-bottom: 20px;
}

:local .buttons > input {
  color: black;
  display: block;
  height: 30px;
  width: 100%;
  border-radius: 4px;
  border-color: grey;
}

:local .submitButton {
  background: linear-gradient(#f4e7c3, #eeb219);
  margin: 10px 10px;
}

:local .bottomMain {
  display: flex;
  justify-content: space-between;
  margin-right: 2vmin;
}